<launch>
  <!-- <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/my_robot.urdf" /> -->
 <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cartographer_ros)/urdf/diff_wheeled_robot.xacro'" /> 
 <!-- <inorder前面要加--> 
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename my.lua"
      output="screen">
    <remap from="scan" to="/velodyne/scan" />
    <remap from="imu" to="/imu/data" />
    <!-- <remap from="imu" to="/imu" /> -->
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
